@font-face {
  font-family: 'Raleway', sans-serif; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .logo img {
      width: 68px;
      height: 68px;
      margin: 0; }
    .header .logo p {
      margin-left: 13px;
      font-size: 15px; }
  .header img {
    margin-top: 11px;
    margin-bottom: 11px;
    width: 26px;
    height: 53px; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px; }
  .row .head > *, .row .discription > * {
    margin: 0; }
  .row .title {
    margin-top: 84px; }
    .row .title .head {
      padding-left: 31px;
      border-left: 5px solid #18A3DD;
      border-radius: 2px;
      color: #333740; }
      .row .title .head h2 {
        font-size: 72px; }
      .row .title .head p {
        font-size: 24px; }
  .row .discription {
    margin-top: 74px; }
    .row .discription p {
      text-align: left;
      color: #666666;
      font-size: 17px;
      letter-spacing: 1.26px;
      padding-right: 24px; }
    .row .discription .btn {
      margin-top: 52px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .row .discription .btn .button {
        text-transform: uppercase;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        color: white;
        width: 179px;
        padding: 27px 37px;
        background: #18A3DD;
        border-radius: 50px;
        font-size: 17px;
        letter-spacing: 1.26px; }
      .row .discription .btn label {
        text-align: center;
        text-transform: uppercase;
        padding: 30px 37px;
        color: #333740;
        font-size: 16px;
        letter-spacing: 1.26px; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 1140px;
  margin: auto; }

#one .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, right bottom, left top, from(#0F0816), to(#21172B));
  background: -o-linear-gradient(bottom right, #0F0816, #21172B);
  background: linear-gradient(to top left, #0F0816, #21172B);
  width: auto;
  margin-top: 120px;
  margin-bottom: 52px; }
  #one .container img {
    margin-top: -120px;
    margin-bottom: -52px;
    margin-left: 82px; }
  #one .container .cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 126px; }
    #one .container .cards .card:first-child {
      margin-right: 0; }
    #one .container .cards .card:last-child {
      margin-left: 0; }
    #one .container .cards .card h2 {
      border-left: #18A3DD solid 5px;
      border-radius: 2px;
      padding-left: 25px;
      color: white;
      font-size: 72px;
      font-family: "Lato", sans-serif;
      letter-spacing: 1.30px;
      margin-bottom: 20px; }
    #one .container .cards .card p {
      color: #666666;
      margin: 0;
      font-size: 18px; }
      #one .container .cards .card p span {
        color: #18A3DD; }

#two {
  background: #d1d1d1;
  margin-top: -52px;
  margin-bottom: -57px; }
  #two .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 107px;
    margin-bottom: 76px; }
    #two .title h2 {
      margin: 0;
      font-size: 30px;
      letter-spacing: 1.30px;
      font-family: Raleway, sans-serif; }
    #two .title p {
      text-align: center;
      width: 100%;
      color: #83888F;
      font-size: 18px; }
  #two h2:first-child {
    padding: 11px 26px 11px 0;
    border-right: 0.5px solid #18A3DD; }
  #two h2:nth-child(2) {
    padding: 11px 0 11px 26px;
    border-left: 0.5px solid #18A3DD; }

.cards {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .cards .card {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    margin-top: 49px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 265px; }
    .cards .card h2 {
      margin: 0;
      font-size: 20px;
      font-family: Raleway, sans-serif;
      color: #333740;
      letter-spacing: 1.30px;
      padding-bottom: 22px; }
    .cards .card p {
      margin: 0;
      font-size: 18px;
      color: #5B5F64;
      letter-spacing: 1.30px;
      line-height: 1.28em;
      margin-bottom: 58px; }
  .cards .card:first-child {
    margin-right: 86px; }
    .cards .card:first-child .sub-curd {
      text-align: right; }
  .cards .card:last-child {
    margin-left: 86px; }

#three {
  font-family: "Lato", sans-serif; }
  #three .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 107px;
    margin-bottom: 76px; }
    #three .title h2 {
      margin: 0;
      font-size: 30px;
      letter-spacing: 1.30px;
      font-family: Raleway, sans-serif; }
    #three .title p {
      text-align: center;
      width: 100%;
      color: #83888F;
      font-size: 18px; }
  #three h2:first-child {
    padding: 11px 26px 11px 0;
    border-right: 0.5px solid #18A3DD; }
  #three h2:nth-child(2) {
    padding: 11px 0 11px 26px;
    border-left: 0.5px solid #18A3DD; }
  #three .title {
    margin-top: 165px;
    padding-top: 0; }
  #three img[alt='Clip'] {
    height: 300px;
    margin-top: 51px;
    margin-right: -62px;
    margin-left: 62px;
    z-index: 3; }
  #three .cards {
    padding-bottom: 189px; }
  #three .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 29px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    #three .card .discr:first-child {
      margin-right: 23px; }
    #three .card h2 {
      font-size: 40px; }
      #three .card h2 span {
        font-size: 16px; }
    #three .card p {
      color: #18A3DD; }
    #three .card .disc h2 {
      font-size: 16px; }

#four {
  background: url("../img/Layer 12.png") no-repeat center top/cover;
  background-size: 100% 100%;
  font-family: "Lato", sans-serif; }
  #four .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 107px;
    margin-bottom: 76px; }
    #four .title h2 {
      margin: 0;
      font-size: 30px;
      letter-spacing: 1.30px;
      font-family: Raleway, sans-serif; }
    #four .title p {
      text-align: center;
      width: 100%;
      color: #83888F;
      font-size: 18px; }
  #four h2:first-child {
    padding: 11px 26px 11px 0;
    border-right: 0.5px solid #18A3DD; }
  #four h2:nth-child(2) {
    padding: 11px 0 11px 26px;
    border-left: 0.5px solid #18A3DD; }
  #four .container {
    padding-top: 111px; }
  #four .title {
    padding-top: -111px; }
  #four h2, #four h3 {
    color: #E5E5E5; }
  #four .title + p {
    color: #E5E5E5;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 199px;
    margin-left: 199px; }
  #four .discriptions {
    font-family: "Lato", sans-serif;
    color: #666666;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-top: 29px;
    padding-bottom: 181px; }
    #four .discriptions img {
      height: 70px; }
    #four .discriptions .card {
      margin-left: 32px;
      margin-top: -15px; }
      #four .discriptions .card h3 {
        margin-bottom: 17px;
        font-size: 16px; }
      #four .discriptions .card p {
        margin-top: -10px;
        font-size: 14px; }
      #four .discriptions .card div {
        width: 35px;
        margin-top: 13px;
        border-bottom: 2px solid #18A3DD;
        border-radius: 2px; }

#five {
  background: #E5E5E5; }
  #five .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 107px;
    margin-bottom: 76px; }
    #five .title h2 {
      margin: 0;
      font-size: 30px;
      letter-spacing: 1.30px;
      font-family: Raleway, sans-serif; }
    #five .title p {
      text-align: center;
      width: 100%;
      color: #83888F;
      font-size: 18px; }
  #five .image {
    margin-top: 43px;
    padding-bottom: 78px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

#six {
  font-family: Raleway, sans-serif; }
  #six .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 107px;
    margin-bottom: 76px; }
    #six .title h2 {
      margin: 0;
      font-size: 30px;
      letter-spacing: 1.30px;
      font-family: Raleway, sans-serif; }
    #six .title p {
      text-align: center;
      width: 100%;
      color: #83888F;
      font-size: 18px; }
  #six h2:first-child {
    padding: 11px 26px 11px 0;
    border-right: 0.5px solid #18A3DD; }
  #six h2:nth-child(2) {
    padding: 11px 0 11px 26px;
    border-left: 0.5px solid #18A3DD; }
  #six .form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    margin-bottom: 150px;
    width: 576px; }
  #six .row {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px; }
  #six .form-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 576px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative; }
  #six .row:first-child {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #six .row:first-child .form-group {
      width: 263px; }
  #six .form-input {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid #333740;
    background: transparent;
    outline: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #six .form-input:focus {
      border-bottom: 2px solid #18A3DD;
      opacity: 0.3; }
  #six .form-label {
    position: absolute;
    top: -5px;
    z-index: -1;
    color: #333740;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
  #six .form-input:focus ~ .form-label,
  #six .form-input:not(:placeholder-shown) ~ .form-label {
    top: -18px;
    font-size: 12px;
    color: #18A3DD; }
  #six .button {
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 27px 37px;
    background: #18A3DD;
    border-radius: 50px;
    font-size: 17px;
    letter-spacing: 1.26px;
    margin-top: 100px;
    width: 500px;
    margin-right: auto;
    margin-left: auto; }

footer {
  font-family: Raleway, sans-serif;
  background: #E5E5E5;
  margin: 0;
  padding: 0; }
  footer .footer {
    padding-top: 41px;
    padding-bottom: 53px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px; }
  footer .links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 36px; }
    footer .links a {
      margin-right: 36px;
      text-decoration: none;
      color: #333740;
      font-size: 16px; }
