@import "mixins";
@import "variables";

footer{
  font-family: $fontRalewey;
  background:$colorLight;
  margin: 0;
  padding: 0;
  .footer{
    padding-top: 41px;
    padding-bottom: 53px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  .links{
    display: flex;
    margin-top: 36px;
    a{
      margin-right: 36px;
      text-decoration: none;
      color:$colorDurkGrey;
      font-size: 16px;
    }
  }
}