@import "mixins";
@import "variables";
#six {
  font-family: $fontRalewey;
  @include title;
  @include border;
  .form{
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-bottom: 150px;
    width: 576px;

  }
  .row {
    flex:1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .form-group{
    display: flex;
    width: 576px;
    flex-direction: column;
    position: relative;
  }
  .row:first-child{
    justify-content: space-between;
    .form-group {
      width: 263px;
    }
  }
  .form-input{
    font-family: $fontRalewey;
    font-size: 18px;
    letter-spacing: 1px;
    border: none;
    border-bottom: 2px solid $colorDurkGrey;
    background: transparent;
    outline: none;
    transition: 0.5s;
    &:focus{
      border-bottom: 2px solid $colorBlue;
      opacity: 0.3;
    }
  }
  .form-label{
    position: absolute;
    top: -5px;
    z-index:-1;
    color: $colorDurkGrey;
    transition: 0.5s;
  }
  .form-input:focus ~ .form-label,
  .form-input:not(:placeholder-shown)~.form-label{
    top: -18px;
    font-size: 12px;
    color: $colorBlue;
  }
  .button{
    @include button;
    margin-top: 100px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}
