@import "variables";
@import "mixins";
#two{
  background: #d1d1d1;
  margin-top: -52px;
  margin-bottom: -57px;
  @include title;
  @include border;

  }
  .cards{

   @include cards;

    .card{
      box-sizing: content-box;
      margin-top: 49px;
      flex-direction: column;
      width: 265px;
      h2{
        margin: 0;
        font-size: 20px;
        font-family: $fontRalewey;
        color: $colorDurkGrey;
        letter-spacing: 1.30px;
        padding-bottom: 22px;
      };
      p{
        margin: 0;
        font-size: 18px;
        color:#5B5F64;
        letter-spacing: 1.30px;
        line-height: 1.28em;
        margin-bottom: 58px;
      }
    }
    .card:first-child{

      margin-right: 86px;
        .sub-curd{
          text-align: right;
        }
    }
    .card:last-child{
      margin-left: 86px;
    }
  }
